<div class="container kotei">
  <div class="row text-center d-flex align-items-center pt-2 bg-white">
    <a class="navbar-brand" href="/" data-turbolincks="false"><%= image_tag 'logo_heder.png', class: "img1" %></a>
<div class="hamburger mt-5 mr-5">
  <span></span>
  <span></span>
  <span></span>
</div>

<nav class="globalMenuSp">
    <ul>
        <li><a href="/top">Menu1</a></li>
        <li><a href="/news">Menu2</a></li>
        <li><a href="/profile">Menu3</a></li>
    </ul>
</nav>

</div>
</div>