<div class="container kotei">
  <div class="row text-center d-flex align-items-center pt-2 bg-white">
    <a class="navbar-brand" href="/" data-turbolincks="false"><%= image_tag 'logo_heder.png', class: "img1" %></a>
<div class="hamburger">
  <span></span>
  <span></span>
  <span></span>
</div>

<nav class="globalMenuSp">
    <ul>
        <li><a href="/">TOP</a></li>
        <li><a href="/news">NEWS</a></li>
        <li><a href="/profiles">PROFILE</a></li>
        <li><a href="/releases">RELEASE</a></li>
        <li><a href="/medias">MEDIA</a></li>
        <li><a href="/events">EVENT</a></li>
        <li><a href="/contacts">CONTACT</a></li>
    </ul>
</nav>

</div>
</div>